* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  letter-spacing: normal;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  line-height: 1;
  position: relative;
}

.wrapper {
  background: var(--bg-body);
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: var(--bg-img);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 113rem;
  margin: 0rem auto;
  padding: 0rem 0.9375rem;
}

.color-price {
  color: #FEDA00;
}

.header__container {
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 500px) {
  .header__container {
    padding-top: 1.875rem;
  }
}
.header__title {
  font-family: "Nekst";
  line-height: 136%;
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 700;
  word-spacing: -0.3125rem;
  margin-right: 0.625rem;
}
@media (max-width: 1920px) {
  .header__title {
    font-size: calc(1.5625rem + 15 * (100vw - 20rem) / 1506);
  }
}
@media (max-width: 400px) {
  .header__title {
    font-size: 1.375rem;
  }
}
@media (max-width: 1200px) {
  .header__title {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    text-align: center;
    word-spacing: 0rem;
    line-height: 130%;
    margin-right: 0rem;
    text-align: center;
  }
}
.header__telephone {
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 1200px) {
  .header__telephone {
    margin-bottom: 2.1875rem;
  }
}

.logo {
  margin-right: 1.25rem;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.875rem;
          flex: 0 0 4.875rem;
  height: 4.875rem;
  background-image: var(--bg-logo);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3.75rem;
            flex: 0 0 3.75rem;
    height: 3.75rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 415px) {
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2rem;
            flex: 0 0 2rem;
    height: 2rem;
  }
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .tel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.tel__icon {
  color: var(--color-text);
  margin-right: 0.875rem;
  font-size: 2.75rem;
}
@media (max-width: 1920px) {
  .tel__icon {
    font-size: calc(2.1875rem + 9 * (100vw - 20rem) / 1506);
  }
}
.tel__number {
  font-family: "Nekst";
  font-size: 2.5rem;
  line-height: 161%;
  text-transform: uppercase;
  color: var(--color-text);
  white-space: nowrap;
}
@media (max-width: 1920px) {
  .tel__number {
    font-size: calc(0.9375rem + 25 * (100vw - 20rem) / 1506);
  }
}

.main {
  padding-top: 5.3125rem;
}
@media (max-width: 1000px) {
  .main {
    padding-top: 3.125rem;
  }
}
@media (max-width: 800px) {
  .main {
    padding-top: 0rem;
  }
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
@media (max-width: 1600px) {
  .main__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 1000px) {
  .main__container {
    padding-bottom: 0rem;
  }
}
@media (max-width: 800px) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px auto;
    width: 25rem;
  }
}
.main__text {
  max-width: 38.625rem;
}
@media (max-width: 1500px) {
  .main__text {
    max-width: 25rem;
  }
}
@media (max-width: 800px) {
  .main__text {
    margin-right: 0rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
}
.main__text-title {
  margin-bottom: 2.1875rem;
  max-width: 25.375rem;
}
@media (max-width: 1400px) {
  .main__text-title {
    position: static;
  }
}
@media (max-width: 800px) {
  .main__text-title {
    margin-bottom: 1.375rem;
  }
}
.main__text-title-price {
  font-size: 4.375rem;
  margin-right: 2.8125rem;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .main__text-title-price {
    font-size: 2.5rem;
    line-height: 90%;
    margin-right: 1.5625rem;
  }
}
.main__text-title-text {
  font-size: 3.875rem;
  font-family: "Nekst";
  line-height: 100%;
  letter-spacing: -0.03125em;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-text);
}
@media (max-width: 1400px) {
  .main__text-title-text {
    font-size: 3.125rem;
    line-height: 90%;
  }
}
@media (max-width: 800px) {
  .main__text-title-text {
    font-size: 2.25rem;
  }
}
.main__text-subtitle {
  color: var(--color-text);
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0.0015625em;
  max-width: 25.375rem;
}
.main__text-subtitle:not(:last-child) {
  margin-bottom: 1.1875rem;
}
@media (max-width: 1400px) {
  .main__text-subtitle {
    position: static;
  }
}
@media (max-width: 800px) {
  .main__text-subtitle {
    font-size: 0.875rem;
    max-width: 17.5rem;
  }
}
.main__text-price {
  font-family: "Nekst";
  font-size: 2.5rem;
  line-height: 200%;
  letter-spacing: 0.0009375em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color);
  position: relative;
  margin-left: 6.25rem;
  z-index: 20;
  width: 32.5rem;
  margin-top: 6.25rem;
}
.main__text-price br {
  display: none;
}
@media (max-width: 1000px) {
  .main__text-price {
    margin-left: 0rem;
    margin-top: 3.125rem;
    font-size: 1.25rem;
  }
  .main__text-price br {
    display: block;
  }
}
.main__text-price-num {
  font-size: 6.25rem;
}
@media (max-width: 1000px) {
  .main__text-price-num {
    font-size: 3.125rem;
  }
}
.main__text-slogan-top {
  display: none;
}
@media (max-width: 800px) {
  .main__text-slogan-top {
    display: block;
    font-family: "Nekst";
    font-size: 0.9375rem;
    line-height: 430%;
    color: var(--color-text);
    margin-bottom: 1.1875rem;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .main__text-slogan-top {
    margin-right: 6.25rem;
  }
}
.main__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.5rem;
          flex: 0 0 83.5rem;
  height: 50.3125rem;
  position: relative;
  top: -3.4375rem;
  -webkit-transform: rotate(-1.05deg);
          transform: rotate(-1.05deg);
}
@media (max-width: 1920px) {
  .main__images {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(6.25rem + 1236 * (100vw - 20rem) / 1506);
            flex: 0 0 calc(6.25rem + 1236 * (100vw - 20rem) / 1506);
    height: calc(3.75rem + 745 * (100vw - 20rem) / 1506);
  }
}
@media (max-width: 800px) {
  .main__images {
    width: 14.4375rem;
    height: 8.6875rem;
    position: absolute;
    top: 20.625rem;
    left: 40%;
  }
}
@media (max-width: 400px) {
  .main__images {
    left: 30%;
  }
}
.main__images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1000px) {
  .form {
    padding-top: 3.125rem;
  }
}
.form__text {
  margin-bottom: 1.875rem;
}
@media (max-width: 800px) {
  .form__text {
    margin: 0rem auto 2.5625rem;
  }
}
.form__text-slogan {
  font-family: "Nekst";
  font-size: 1.5625rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 1.875rem;
}
@media (max-width: 800px) {
  .form__text-slogan {
    display: none;
  }
}
.form__text-title {
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 162%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-required);
}
@media (max-width: 1000px) {
  .form__text-title {
    font-size: 1.25rem;
    line-height: 202%;
    margin-bottom: 1.25rem;
  }
}
.form__text-subtitle {
  font-weight: 600;
  font-size: 1.5625rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-subtitle);
}
@media (max-width: 1000px) {
  .form__text-subtitle {
    font-size: 1.25rem;
    max-width: 22.125rem;
    margin: 0px auto;
  }
}
@media (max-width: 350px) {
  .form__text-subtitle {
    font-size: 1.125rem;
  }
}
.main-form {
  width: 56.9375rem;
  margin: 0px auto;
  padding-bottom: 4.625rem;
}
@media (max-width: 1000px) {
  .main-form {
    width: 22.125rem;
    padding-bottom: 2.75rem;
  }
}
@media (max-width: 380px) {
  .main-form {
    width: 18.75rem;
  }
}
.main-form__input-wrap {
  background: var(--bg-input);
  -webkit-box-shadow: -0.3125rem 1.1875rem 4.125rem -0.125rem rgba(0, 0, 0, 0.25);
          box-shadow: -0.3125rem 1.1875rem 4.125rem -0.125rem rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 2.5rem;
  padding-top: 0.75rem;
  padding-left: 5rem;
  padding-bottom: 1.8125rem;
  position: relative;
  border: 0.125rem solid var(--color-required);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.main-form__input-wrap:hover {
  cursor: pointer;
}
.main-form__input-wrap:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (max-width: 1000px) {
  .main-form__input-wrap {
    border-radius: 1.25rem;
    padding-left: 0.875rem;
  }
  .main-form__input-wrap:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.main-form__bgcolor-price {
  border: 0.125rem solid var(--bg-input-last);
  background: var(--bg-input);
  -webkit-box-shadow: -0.3125rem 1.1875rem 4.125rem -0.125rem rgba(0, 0, 0, 0.25);
          box-shadow: -0.3125rem 1.1875rem 4.125rem -0.125rem rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 2.5rem;
  padding-top: 0.75rem;
  padding-left: 5rem;
  padding-bottom: 1.8125rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.main-form__bgcolor-price:hover {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .main-form__bgcolor-price {
    border-radius: 1.25rem;
    padding-left: 0.875rem;
    padding-bottom: 0.9375rem;
  }
}
.main-form__title {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 258%;
  text-transform: uppercase;
  color: var(--color-text);
}
@media (max-width: 1000px) {
  .main-form__title {
    font-size: 0.9375rem;
    color: var(--color-textDop);
    line-height: 163%;
  }
}
.main-form__symbol {
  color: var(--color-required);
}
.main-form__symbol2 {
  color: var(--color-star);
}
.main-form__input {
  line-height: 258%;
  width: 23.125rem;
  height: 4.0625rem;
  border-bottom: 1px solid var(--color-placeholder);
  font-size: 1.5625rem;
  color: var(--color-text);
  font-weight: 500;
  background-color: transparent;
}
@media (max-width: 1000px) {
  .main-form__input {
    font-size: 1.25rem;
    width: 18.875rem;
  }
}
@media (max-width: 380px) {
  .main-form__input {
    width: 16.875rem;
    font-size: 1.125rem;
  }
}
.main-form__input::-webkit-input-placeholder {
  font-weight: 500;
  color: var(--color-placeholder);
}
.main-form__input::-moz-placeholder {
  font-weight: 500;
  color: var(--color-placeholder);
}
.main-form__input:-ms-input-placeholder {
  font-weight: 500;
  color: var(--color-placeholder);
}
.main-form__input::-ms-input-placeholder {
  font-weight: 500;
  color: var(--color-placeholder);
}
.main-form__input::placeholder {
  font-weight: 500;
  color: var(--color-placeholder);
}
.main-form__img-wrap-blue {
  width: 17.5rem;
  height: 14rem;
  position: absolute;
  top: -1.875rem;
  right: 5rem;
}
@media (max-width: 1000px) {
  .main-form__img-wrap-blue {
    width: 8.125rem;
    height: 7.25rem;
    top: 2.1875rem;
    right: 6.875rem;
  }
}
.main-form__img-linia-blue {
  position: absolute;
  width: 5.5625rem;
  height: 2rem;
  top: 2.0625rem;
  left: 6.25rem;
}
@media (max-width: 1000px) {
  .main-form__img-linia-blue {
    width: 2.625rem;
    height: 1rem;
    top: 1.0625rem;
    left: 2.8125rem;
  }
}
.main-form__img-linia-red {
  position: absolute;
  width: 4.625rem;
  height: 2rem;
  top: 6.4375rem;
  left: 3.125rem;
}
@media (max-width: 1000px) {
  .main-form__img-linia-red {
    width: 2.0625rem;
    height: 1rem;
    top: 2.75rem;
    left: 1.4375rem;
  }
}
.main-form__img-wrap-red {
  width: 17.5rem;
  height: 12.75rem;
  position: absolute;
  top: -0.9375rem;
  right: 3.125rem;
}
@media (max-width: 1000px) {
  .main-form__img-wrap-red {
    width: 8.125rem;
    height: 5.5625rem;
    top: 3.125rem;
    right: 6.25rem;
  }
}
.main-form__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-form__label {
  font-family: "Nekst";
  font-size: 1.5625rem;
  line-height: 258%;
  text-transform: capitalize;
  color: var(--color-text);
}
@media (max-width: 1000px) {
  .main-form__label {
    font-size: 1.25rem;
  }
}
.main-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-form__input-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2.3125rem;
  height: 2.3125rem;
  border: 0.0625rem solid var(--color-text);
  border-radius: 3.125rem;
  margin-right: 1.3125rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
}
@media (max-width: 1000px) {
  .main-form__input-radio {
    width: 2.0625rem;
    height: 2.0625rem;
    margin-right: 1.0625rem;
  }
}
.main-form__input-radio:hover {
  cursor: pointer;
}
.main-form__input-radio:checked::after {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 1.9375rem;
  height: 1.9375rem;
  background-color: var(--color-input-radio);
  border-radius: 3.125rem;
}
@media (max-width: 1000px) {
  .main-form__input-radio:checked::after {
    content: "";
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: var(--color-input-radio);
    border-radius: 3.125rem;
  }
}
.main-form__required {
  margin-top: 1.4375rem;
  margin-bottom: 0.875rem;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 258%;
  text-transform: uppercase;
  padding-left: 5rem;
  color: var(--color-required);
}
@media (max-width: 1000px) {
  .main-form__required {
    font-size: 0.9375rem;
    margin-top: 0.5625rem;
    padding-left: 0rem;
  }
}
.main-form__reminder {
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 140%;
  padding-left: 5rem;
  color: var(--color-text);
  max-width: 50rem;
}
@media (max-width: 1000px) {
  .main-form__reminder {
    font-size: 0.9375rem;
    margin-top: 0.5625rem;
    padding-left: 0rem;
    margin-bottom: 1.8125rem;
  }
}

.button {
  font-family: "Nekst";
  font-size: 1.875rem;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color1);
  background: var(--color);
  -webkit-box-shadow: -2px 14px 35px -2px rgba(28, 86, 111, 0.25);
          box-shadow: -2px 14px 35px -2px rgba(28, 86, 111, 0.25);
  border-radius: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 21.125rem;
  min-height: 5.5625rem;
  margin-right: 0rem;
  margin-left: auto;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border: 0.0625rem solid transparent;
}
.button:hover {
  cursor: pointer;
  border: 0.0625rem solid var(--color);
  background: transparent;
  color: var(--color-text);
}
@media (max-width: 1000px) {
  .button {
    min-width: 16.4375rem;
    min-height: 4.3125rem;
    font-size: 1.5625rem;
    border-radius: 1.25rem;
    margin: 0px auto;
  }
}

@media (max-width: 1000px) {
  .input-height {
    min-height: 13.25rem;
  }
}

@media (max-width: 1000px) {
  .input-position {
    position: relative;
    bottom: -5.625rem;
  }
}

.reviews {
  padding-bottom: 3.125rem;
}
@media (max-width: 1900px) {
  .reviews {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 500px) {
  .reviews {
    padding-bottom: 0rem;
  }
}
.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1900px) {
  .reviews__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.reviews__block {
  margin-right: 2.8125rem;
}
@media (max-width: 1900px) {
  .reviews__block {
    margin-right: 0rem;
  }
}
.reviews__swiper {
  width: 86.25rem;
  height: 30.6875rem;
}
@media (max-width: 1400px) {
  .reviews__swiper {
    width: 60.3125rem;
  }
}
@media (max-width: 1000px) {
  .reviews__swiper {
    width: 25.9375rem;
  }
}
@media (max-width: 500px) {
  .reviews__swiper {
    width: 18.75rem;
  }
}
.reviews__swiper-slide {
  width: 25.9375rem;
  min-height: 23.625rem;
  border: 0.125rem solid var(--color);
  border-radius: 1.25rem;
  padding-top: 2.3125rem;
  padding-left: 2.1875rem;
  padding-right: 1.875rem;
  margin-right: 4.1875rem;
  background-color: var(--bg-slider);
}
@media (max-width: 1000px) {
  .reviews__swiper-slide {
    margin-right: 0rem;
  }
}
@media (max-width: 500px) {
  .reviews__swiper-slide {
    padding: 1.25rem 0.625rem 0.625rem 1.25rem;
    min-height: 18.6875rem;
  }
}
.reviews__swiper-name {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 120%;
  color: var(--color-textDop);
  margin-right: 0.625rem;
  margin-bottom: 0.9375rem;
}
@media (max-width: 500px) {
  .reviews__swiper-name {
    font-size: 1.25rem;
  }
}
.reviews__swiper-star {
  color: #EDB92C;
  margin-bottom: 1.875rem;
  font-size: 1.375rem;
}
@media (max-width: 500px) {
  .reviews__swiper-star {
    margin-bottom: 0.625rem;
  }
}
.reviews__swiper-estimation {
  font-size: 0.875rem;
  line-height: 120%;
  color: var(--color-textDop);
}
.reviews__swiper-text-wrap {
  width: 22.125rem;
  height: 12.5rem;
  overflow: hidden;
}
@media (max-width: 500px) {
  .reviews__swiper-text-wrap {
    width: 15.625rem;
  }
}
.reviews__swiper-text {
  width: 23.125rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 210%;
  color: var(--color-text);
  padding-right: 0.625rem;
  -webkit-overflow-scrolling: touch;
}
.reviews__swiper-text::-webkit-scrollbar {
  display: none;
}
@media (max-width: 500px) {
  .reviews__swiper-text {
    width: 16.25rem;
    padding-right: 0.3125rem;
  }
}
.reviews__swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 18.75rem;
  margin-right: 0;
  margin-left: auto;
  margin-top: 1.875rem;
}
@media (max-width: 500px) {
  .reviews__swiper-buttons {
    width: 9.375rem;
    margin: 1.875rem 0rem 0rem;
    position: relative;
    left: 70%;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

.fraction {
  width: 7.0625rem;
  font-size: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  color: var(--color-textDop);
}
@media (max-width: 1000px) {
  .fraction {
    display: none;
  }
}

.bullets {
  display: none;
}
@media (max-width: 1000px) {
  .bullets {
    display: block;
    margin: 0px auto;
  }
}

.reviews__swiper-slider .swiper-pagination-bullet-active {
  background-color: var(--color-textDop) !important;
}

.reviews__swiper-slider .swiper-pagination-bullet {
  height: 0.8125rem;
  width: 0.8125rem;
  border: 0.0625rem solid var(--color-textDop);
  background-color: transparent;
  margin-right: 0.8125rem;
}

.icon-arrow {
  font-size: 4.375rem;
  font-family: "Nekst";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 2px 13px 1px rgba(28, 67, 112, 0.2);
          box-shadow: 3px 2px 13px 1px rgba(28, 67, 112, 0.2);
  border-radius: 0.625rem;
  color: #000000;
  width: 5rem;
  height: 2.75rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.icon-arrow:hover {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .icon-arrow {
    display: none;
  }
}

.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block-reviews {
  width: 22.125rem;
  position: relative;
}
.block-reviews__but {
  font-family: "Nekst";
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color1);
  background: #FFFFFF;
  -webkit-box-shadow: -5px 11px 32px -2px rgba(58, 92, 181, 0.25);
          box-shadow: -5px 11px 32px -2px rgba(58, 92, 181, 0.25);
  border-radius: 1.875rem;
  width: 22.125rem;
  min-height: 5.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem;
  margin-bottom: 3.1875rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border: 0.0625rem solid transparent;
}
.block-reviews__but:hover {
  cursor: pointer;
  border: 0.0625rem solid var(--color-subtitle);
  background-color: transparent;
  color: var(--color-text);
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 1900px) {
  .block-reviews__but {
    width: 14.875rem;
    min-height: 3.3125rem;
    font-size: 1.25rem;
    position: absolute;
    top: 42.5rem;
    left: 15%;
  }
}
@media (max-width: 1000px) {
  .block-reviews__but {
    top: 41.5625rem;
  }
}
@media (max-width: 500px) {
  .block-reviews__but {
    top: 35.625rem;
    -webkit-box-shadow: -5px 7px 35px rgba(0, 0, 0, 0.1);
            box-shadow: -5px 7px 35px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    border-radius: 1.25rem;
    margin-bottom: 0rem;
  }
}
@media (max-width: 400px) {
  .block-reviews__but {
    top: 34.375rem;
  }
}
.block-reviews__estimation {
  font-family: "Nekst";
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  color: var(--color-textDop);
  margin-bottom: 2.5rem;
}
@media (max-width: 500px) {
  .block-reviews__estimation {
    font-size: 1.5625rem;
    margin-bottom: 0.8125rem;
  }
}
.block-reviews__img {
  width: 20.3125rem;
  height: 3.8125rem;
  position: relative;
  margin: 0rem auto 1.25rem;
}
.block-reviews__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 500px) {
  .block-reviews__img {
    width: 15.625rem;
    height: 2.9375rem;
  }
}
.block-reviews__text {
  font-family: "Nekst";
  font-size: 1.25rem;
  line-height: 2.25rem;
  text-align: center;
  color: var(--color-textDop);
  margin-bottom: 2.5rem;
}
@media (max-width: 1900px) {
  .block-reviews__text {
    margin-bottom: 1.25rem;
  }
  .block-reviews__text br {
    display: none;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.3125rem;
}
@media (max-width: 700px) {
  .footer__container {
    padding-bottom: 1.25rem;
  }
}
.footer__logo {
  position: relative;
  width: 4.875rem;
  height: 4.875rem;
  background-image: var(--bg-logo);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .footer__logo {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (max-width: 415px) {
  .footer__logo {
    width: 2rem;
    height: 2rem;
  }
}